<a href="https://colab.research.google.com/github/wlstjd99/mobile-net/blob/main/2022_07_26_another_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
 w1 = np.array([-1, 1000]) # 1번그래프
 b1 = -1000
 w2 = np.array([0, 1]) # 2번그래프
 b2 = 0
 w3 = np.array([1000, 1]) # 3번그래프
 b3 = -1001
 w4 = np.array([1000, 1]) # 4번그래프
 b4 = 0.1

In [ ]:
def NAND3 (x1, x2) :
  x = np.array([x1,x2])
  temp = np.sum(w3*x)+b3

  if temp<0 :
    return 1
  else :
    return 0

In [ ]:
print(NAND3(0,0))
print(NAND3(1,0))
print(NAND3(0,1))
print(NAND3(1,1))

1
1
1
0

In [ ]:
def OR4 (x1, x2) :
  x = np.array([x1,x2])
  temp = np.sum(w4*x)+b4

  if temp>0 :
    return 1
  else :
    return 0

In [ ]:
print(OR4(0,0))
print(OR4(1,0))
print(OR4(0,1))
print(OR4(1,1))

1
1
1
1

In [ ]:
def AND (x1,x2) :
  x = np.array([x1,x2])
  w = np.array([0.5, 0.5])
  b = -0.7
  temp = np.sum(w*x)+b
  if temp>0 :
    return 1
  else :
    return 0

In [ ]:
print(AND(0,0))
print(AND(1,0))
print(AND(0,1))
print(AND(1,1))

0
0
0
1

In [ ]:
def XOR(x1, x2):
  y1=NAND3(x1, x2)
  y2=OR4(x1, x2)
  y3=AND(y1, y2)
  return y3

In [ ]:
print(XOR(0,0))
print(XOR(1,0))
print(XOR(0,1))
print(XOR(1,1))

1
1
1
0

In [ ]:
def NAND1 (x1, x2) :
  x = np.array([x1,x2])
  temp = np.sum(w1*x)+b1

  if temp<=0 :
    return 1
  else :
    return 0

In [ ]:
print(NAND1(0,0))
print(NAND1(1,0))
print(NAND1(0,1))
print(NAND1(1,1))

1
1
1
1

In [ ]:
def OR2 (x1, x2) :
  x = np.array([x1,x2])
  temp = np.sum(w2*x)+b2

  if temp>=0 :
    return 1
  else :
    return 0

In [ ]:
print(OR2(0,0))
print(OR2(1,0))
print(OR2(0,1))
print(OR2(1,1))

1
1
1
1

In [ ]:
def XOR1(x1, x2):
  y4=NAND1(x1, x2)
  y5=OR2(x1, x2)
  y6=AND(y4, y5)
  return y6

In [ ]:
print(XOR1(0,0))
print(XOR1(1,0))
print(XOR1(0,1))
print(XOR1(1,1))

1
1
1
1

In [ ]:
def AND2(x1, x2):
    y3=XOR(x1, x2)
    y6=XOR1(x1, x2)
    y7=AND(y3, y6)
    return y7

In [ ]:
print(AND2(0,0))
print(AND2(1,0))
print(AND2(0,1))
print(AND2(1,1))

1
1
1
0

In [ ]:
print(AND2(0.5,1.5))
print(AND2(-0.5,-0.5))
print(AND2(1.5,0.5))
print(AND2(0.5,-0.5))

0
0
0
0